#titulo_lista {
  width: 50%;
  border-radius: 10px;
  text-align: center;
  margin: 100px auto;
  margin-bottom: 200px;
  background-color: var(--cor-azul-escuro);
  color: white;
  padding: 30px 0;
  font-size: 2.5rem;
  transition: all ease .2s;
}

#titulo_lista:hover {
  transform: scale(1.2);
}

.perfis_pri {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  list-style: none;
}

.opcao_perf_pri {
  width: 30%;
  min-width: 570px;
  max-width: 670px;
  padding: 15px 30px;
  background-color: var(--cor-fundo-cartao);
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: all ease .3s;
}

.opcao_perf_pri:hover {
  box-shadow: 7px 7px 12px var(--cor-azul-claro);
}

.cartao_inicio_pri {
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
  align-items: center;
}

.nome {
  max-width: 200px;
  margin-left: 100px;
}

.linha {
  margin: 20px auto;
}

.hobby {
  margin-bottom: 10px;
}

.lista_dados_perfil {
  display: flex;
  justify-content: space-around;
  line-height: 25px;
}

.opcao_lista_dados_perfil {
  max-width: 37%;
}

.preferencias {
  max-width: 100%;
}

#secao_btn {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 100px 0;
}

.btn {
  width: 180px;
  height: 80px;
  background-color: var(--cor-azul-claro);
  color: white;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid black;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .1s;
}

.btn:hover {
  background-color: var(--cor-azul-escuro);
  transform: scale(1.1);
}

/* PARA USO DO HOVER, DIFERENCIANDO OS GENEROS */

.feminino > div, .feminino > p > .resposta_hobby, .feminino > ul > li > .preferencias {
  color: var(--cor-vermelho);
}

.feminino:hover {
    box-shadow: 7px 7px 12px var(--cor-vermelho);
}

.outro > div, .outro > p > .resposta_hobby, .outro > ul > li > .preferencias {
  color: var(--cor-fonte-outro);
  /* text-shadow: 1px 1px 1px black; */
}

.outro:hover {
    box-shadow: 7px 7px 12px var(--cor-fonte-outro);
}