#titulo_lista {
  width: 90%;
  border-radius: 10px;
  text-align: center;
  margin: 200px auto;
  background-color: var(--cor-azul-escuro);
  color: white;
  padding: 30px 0;
  font-size: 2.5rem;
}

.perfis_pri {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  list-style: none;
}

.opcao_perf_pri {
  width: 30%;
  min-width: 570px;
  max-width: 670px;
  padding: 15px 30px;
  background-color: var(--cor-fundo-cartao);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.cartao_inicio_pri {
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
  align-items: center;
}

.nome {
  max-width: 200px;
  margin-left: 100px;
}

.linha {
  margin: 20px auto;
}

.hobby {
  margin-bottom: 10px;
}

.lista_dados_perfil {
  display: flex;
  justify-content: space-around;
}

.opcao_lista_dados_perfil {
  max-width: 35%;
}

.preferencias {
  max-width: 100%;
}

#secao_btn {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0;
}

.btn {
  width: 180px;
  height: 80px;
  background-color: var(--cor-azul-claro);
  color: white;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid black;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .1s;
}

.btn:hover {
  background-color: var(--cor-azul-escuro);
  transform: scale(1.1);
}