.sobre_site{
    width: 90%;
    margin: 120px auto;
    padding: 30px 10px;
    border-radius: 10px;
    color: white;
    background-color:var(--cor-azul-escuro);
    text-align: center;
    font-size: 2.3rem;
}

.informaçoes_do_trabalho{
    width: 67%;
    text-align: left;
    font-size: 30px;
    line-height: 45px;
    margin: 80px 0;
    justify-self: center;
}

#ferramentas{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 90%;
    margin: 100px auto;
    border-radius: 10px;
    padding: 50px 20px;
    justify-content: center;
    gap: 50px;
}

.tecnologias {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 80px;
}

#prog_utili{
    color: var(--cor-azul-escuro);
    display: flex;
	font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#prog_utili > li{
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: center;

}

.redes_sociais {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 30px 10px;
    flex-direction: column;
    gap: 100px;
    background-color: var(--cor-fundo-cinza-claro);
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.redes_titulo {
    text-align: center;
    font-size: 2rem;
}

#lista_redes_sociais {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.opcao_lista_redes_sociais {
    display: flex;
    min-width: 450px;
    flex-direction: column;
    gap: 30px;
    padding: 0 100px;
}

.opcao_lista_redes_sociais:nth-child(6), .opcao_lista_redes_sociais:nth-child(8) {
    margin: 80px 0;
}

.linhav {
    width: 2px;
    height: 150px;
    background-color: black;
}

.linhav:nth-child(7) {
    margin: 80px 0;
}

.titulo_rede_social {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.lista_links_redes_sociais {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link_rede_social {
    display: flex;
    gap: 15px;
}

.link_rede_social > a {
    color: black;
    text-decoration: none;
}

.link_rede_social > img {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: blue;
    align-self: center;
}